{% extends "base.html" %}
{% load static %}

{% block title %}
    BOBcat Homepage
{% endblock %}


{% block css_files %}
<link rel="stylesheet" href="{% static 'mainpage/main.css' %}" />
<script src="{% static 'mainpage/onclick.js' %}" defer></script> 
{% endblock %}


{% block content %}


<div id="search-form-button">
    <button onclick="myFunction(document.getElementById('search-form'))">Show Search</button>
</div>

<div id="search-form" border="1" style = "display: none;" cellspacing = 0 >
    <form action="{% url 'search-page' %}" method="POST" target="_blank">
        {% csrf_token %}
        {% for field in form  %}
        <li> 
            {{ field.label }}{{ field }}
         </li> 
        {% endfor %}

        <button type="submit">Send</button>

    </form>
</div>



<div id="source-data-table">
    <table>
        <thead>
        <tr>
            <th> NED Name </th>
            <th>Models</th>
            {% comment %} <th>J2000 RA (hms)</th>
            <th>J2000 Declination (dms)</th> {% endcomment %}
            <th>RA (<span>&#176;</span>)</th>
            <th>Declination (<span>&#176;</span>)</th>
            <th>Redshift</th>
        </tr>
    </thead>
    <tbody>
        {% for source in sources %}
            <tr>
               <td><a href="{% url 'source-page' source.NED_name %}" target="_blank">{{source.NED_name}}</a></td>
               <td><button onclick="myFunction(document.getElementById('{{ source.NED_name }}'))">Models</button></td>
               {% comment %} <td> {{ source.ra}} </td>
               <td> {{ source.dec}} </td> {% endcomment %}
               <td> {{ source.ra_deg}} </td>
               <td> {{ source.dec_deg}} </td>
               <td> {{ source.redshift}} </td>
            </tr>
        </tbody>
        </table>
</div>


<div class="model-tables" id="{{ source.NED_name }}" border="1" style = "display: none;" cellspacing = 0 >
    <table>
        <thead>
        <tr>
            <th>Paper Link</th>
                <th>Evidence</th>
                <th>M1 (M<sub>&#9737;</sub>)</th>
                <th>M2 (M<sub>&#9737;</sub>)</th>
                <th>Total Mass (M<sub>&#9737;</sub>)</th>
                <th>Chirp Mass (M<sub>&#9737;</sub>)</th>
                <th>Reduced Mass (M<sub>&#9737;</sub>)</th>
                <th>Mass Ratio - q</th>
                <th>Inclination (<span>&#176;</span>)</th>
                <th>Eccentricity</th>
                <th>Orbital Period (yrs)</th>
                {% comment %} <th> Extra Details </th> {% endcomment %}
        </tr>
    </thead>

    {% for binary_model in binary_models %}
            
        
        {% if binary_model.candidate_name == source.NED_name %}
    <tbody>
        
            <tr>
                <td><a href={{binary_model.paper}} target="_blank">paper</a></td>
               <td> {{binary_model.evid1_type|default_if_none:""}} </td>
               <td> {{binary_model.m1|stringformat:".2e"|default_if_none:""}} </td>
               <td> {{binary_model.m2|stringformat:".2e"|default_if_none:""}} </td>
               <td> {{binary_model.mtot|stringformat:".2e"|default_if_none:""}} </td>
               <td> {{binary_model.mc|stringformat:".2e"|default_if_none:""}} </td>
               <td> {{binary_model.mu|stringformat:".2e"|default_if_none:""}} </td>
               <td> {{binary_model.q|default_if_none:""}} </td>
               <td> {{binary_model.inclination|default_if_none:""}} </td>
               <td> {{binary_model.eccentricity|default_if_none:""}} </td>
               <td> {{binary_model.orb_period|default_if_none:""}} </td>
               {% comment %} <td><a href="{% url 'binary-model-detail-page' binary_model.source_name %}" target="_blank">{{binary_model.id}}</a></td> {% endcomment %}
            </tr>
        
        </tbody>
        </table>
</div>
{% endif %}
{% endfor %}

{% endfor %}


{% endblock %}
